/* =========================| Logotype |========================= */



//====================> 1. Base

.logotype {
  position: relative;
  display: block;
  width: 100%;
  max-width: 356px;
  padding-top: 19.78125%;
  margin: 0 auto;
  background: inline-image('logotype.svg') no-repeat center top;

  .mobile & {
    margin-bottom: 7%;
  }
}
