## CACHES ##
.sass-cache/

## LOGS ##
npm-debug.log

## DEPENDENCIES ##
node_modules/
bower_components/

## SYSTEM ##
.DS_Store
.idea

## BUILD ARTEFACTS ##
/src/images/projects/blurred
/src/scripts/modernizr-webp.min.js

## DISTRIBUTION ##
/dist