.profiles
  each val, index in profiles.profiles
    = '\n'

    - var url = val.url.replace(/'/g, "")
    a.hvr-buzz-out(class='profile-' + index, href=url, target='_blank', title='Go to my ' + val.name + ' profile')

  a.hvr-buzz-out.email(href='mailto:danielagrozdanova@gmail.com', title='Write me a note')
