doctype html

= '\n\n'

| <!--[if IE]><![endif]-->
| <!--[if IE 9]><![endif]-->

= '\n'

html(lang="en")
    head
        title #{pkg.title} - #{pkg.author.name}

        = '\n'

        include includes/head/meta

        include includes/head/webapp

        include includes/head/social/google
        include includes/head/social/facebook
        include includes/head/social/twitter

        include includes/head/robots

        include includes/head/favicons

        include includes/head/styles

        include includes/head/fonts

    = '\n'

    body.curtain(ontouchstart='')
        .wallpaper.bgr

        main
            a.toggle.text

            section
                .glass.bgr

                article
                    span.dragzone(title='Move around')
                    .table
                        .row
                            header.cf
                                a.toggle.arrow

                                if profiles
                                    include includes/components/profiles

                        .row
                            .cell
                                .content
                                    include includes/components/title

                                    include includes/components/text

                        .row
                            footer
                                include includes/components/logotype


        include includes/foot/scripts